<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Auditoría de Almacén</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
</head>
<body>

    <h1>Auditoría a Almacén</h1>

    <img src="~/images/AmphenolLogo.png" alt="Logo" class="header-logo" />
  

    <div class="logout-section">
        <button id="logoutButton" class="logout-button">
            <img src="~/images/log-out.png" alt="Cerrar Sesión" class="logout-icon" />
        </button>
    </div>

    <div class="container">
        <header>
        
            <div class="cards-menu">
                <div class="card">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Home"
                       asp-action="IndexPrioridades">
                       Prioridades
                    </a>
                </div>
                <div class="card">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Home"
                       asp-action="AuditoriasAnteriores">
                       Auditorías anteriores
                    </a>
                </div>
                <div class="card">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Home"
                       asp-action="AcercaDe">
                       Acerca de
                    </a>
                </div>
            </div>
        </header>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>

        <footer class="border-top footer text-muted custom-footer">
            <div class="container text-center">
                &copy; 2024 - Auditoría de Almacén
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- Para secciones de scripts específicas -->
    @RenderSection("Scripts", required: false)
</body>
</html>
