@model IEnumerable<AuditoriaQuimicos.Models.Quimico>

@{
    ViewData["Title"] = "Auditoría Mensual de Químicos";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/background.css">
</head>
<body>
    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <header>
        <button id="logoutButton" class="logout-button">
            <img src="~/images/log-out.png" alt="Cerrar Sesión" class="logout-icon" />
        </button>
        <h1>Auditoría a Almacén</h1>
        <img src="~/images/AmphenolLogo.png" alt="Logo" class="header-logo" />
        <span id="currentDate" class="current-date"></span>
        <div class="form-row">
            <div class="area-container">
                <label for="area">Área:</label>
                <select id="area" name="area" required>
                    <option value="">Seleccione una opción</option>
                    <option value="Almacen Telaire">Almacen Telaire</option>
                    <option value="Almacen Temperatura">Almacen Temperatura</option>
                </select>
            </div>

            <div class="icon-container">
                <a href="/Home/IndexPrioridades" class="icon-link">
                    <img src="~/images/alarm.png" alt="Químicos por vencer" class="icon-image" />
                </a>
            </div>

            <div class="auditor-container">
                <label for="auditor">Auditor:</label>
                <input type="text" id="auditor" name="auditor" value="Nombre del Auditor" readonly>
            </div>
        </div>
    </header>

    <div class="accordion" id="chemicalsContainer">
        <!-- Químico inicial -->
        <div class="section-status">
            <h2 class="chemical-header">
                <span class="chemical-title">Químico X</span>
                <span class="chemical-comment" style="display: none;"></span>
            </h2>
            <div class="panel">
                <form class="audit-form">
                    <div class="form-group">
                        <label>Número de Parte</label>
                        <input type="text" required>
                    </div>
                    <div class="form-group">
                        <label>Caducidad (MM/DD/YYYY)</label>
                        <input type="text" required class="flatpickr">
                    </div>
                    <div class="form-group">
                        <label>FIFO seguido</label>
                        <select required>
                            <option value="">Seleccione una opción</option>
                            <option value="Sí">Sí</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Sello de QC</label>
                        <select required>
                            <option value="">Seleccione una opción</option>
                            <option value="Sí">Sí</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Empaque</label>
                        <select required>
                            <option value="">Seleccione una opción</option>
                            <option value="OK">OK</option>
                            <option value="Rechazado">Rechazado</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Lote</label>
                        <input type="text" required>
                    </div>
                    <div class="form-group">
                        <label>Mezclado</label>
                        <select required>
                            <option value="">Seleccione una opción</option>
                            <option value="Sí">Sí</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Limpieza</label>
                        <select required>
                            <option value="">Seleccione una opción</option>
                            <option value="Limpio">Limpio</option>
                            <option value="Sucio">Sucio</option>
                        </select>
                    </div>
                    <div class="comments" style="display:none;">
                        <textarea rows="4" cols="50" readonly></textarea>
                    </div>
                    <div class="button-row">
                        <button type="button" class="listo-button fancy-button">Listo</button>
                        <button type="button" class="borrar-button fancy-button">Borrar Químico</button>
                    </div>
                    <p class="result"></p>

                </form>
            </div>
        </div>
    </div>

    <div id="optionsContainer" style="margin-top:20px; text-align:center;"></div>

    <!-- Template para nuevos químicos -->
    <template id="chemicalTemplate">
        <div class="section-status">
            <h2 class="chemical-header">
                <span class="chemical-title">Químico X</span>
                <span class="chemical-comment" style="display: none;"></span>
            </h2>
            <div class="panel">
                <form class="audit-form">
                    <div class="form-group">
                        <label>Número de Parte</label>
                        <input type="text" required>
                    </div>
                    <div class="form-group">
                        <label>Caducidad (MM/DD/YYYY)</label>
                        <input type="text" required class="flatpickr">
                    </div>
                    <div class="form-group">
                        <label>FIFO seguido</label>
                        <select required>
                            <option value="">Seleccione una opción</option>
                            <option value="Sí">Sí</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Sello de QC</label>
                        <select required>
                            <option value="">Seleccione una opción</option>
                            <option value="Sí">Sí</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Empaque</label>
                        <select required>
                            <option value="">Seleccione una opción</option>
                            <option value="OK">OK</option>
                            <option value="Rechazado">Rechazado</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Lote</label>
                        <input type="text" required>
                    </div>
                    <div class="form-group">
                        <label>Mezclado</label>
                        <select required>
                            <option value="">Seleccione una opción</option>
                            <option value="Sí">Sí</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Limpieza</label>
                        <select required>
                            <option value="">Seleccione una opción</option>
                            <option value="Limpio">Limpio</option>
                            <option value="Sucio">Sucio</option>
                        </select>
                    </div>
                    <div class="comments" style="display:none;">
                        <textarea rows="4" cols="50" readonly></textarea>
                    </div>
                    <div class="button-row">
                        <button type="button" class="listo-button fancy-button">Listo</button>
                        <button type="button" class="borrar-button fancy-button">Borrar Químico</button>
                    </div>
                    <p class="result"></p>

                </form>
            </div>
        </div>
    </template>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="~/js/sesionkiller.js"></script>
    <script src="~/js/script.js"></script>
</body>
</html>
