/* Estilos para la tabla de detalles */
.table-details {
    width: 100%;
    border-collapse: collapse;
}

    .table-details th {
        background-color: #000; /* Encabezados en negro */
        color: #fff; /* Texto de los encabezados en blanco */
        padding: 10px;
        text-align: left;
    }

    .table-details td {
        padding: 10px;
        border: 1px solid #ddd;
    }

    /* Colores de fila según el estado del químico */
    .table-details tr.accepted {
        background-color: #d4edda; /* Verde claro para aceptado */
    }

    .table-details tr.expiring-soon {
        background-color: #fff3cd; /* Amarillo claro para próximo a vencer */
    }

    .table-details tr.rejected {
        background-color: #f8d7da; /* Rojo claro para rechazado */
    }

/* Estilos para dispositivos móviles */
@media screen and (max-width: 600px) {
    .audit-details th, .audit-details td {
        padding: 8px;
    }
}
