h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

.header-logo {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 200px;
    height: auto;
}

.custom-navbar {
    background-color: #F5F5F5;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

    .custom-navbar .nav-link {
        color: #333 !important;
        font-weight: 600;
    }

        .custom-navbar .nav-link:hover {
            color: #007bff !important;
            text-decoration: underline;
        }

.custom-footer {
    background-color: #fafafa;
    padding: 15px 0;
}

    .custom-footer div {
        color: #666;
        font-size: 0.9rem;
    }


.logout-button {
    background-color: transparent;
    border: none;
    color: #333;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
}

.logout-icon {
    width: 100%;
    height: 100%;
}

.logout-button:hover {
    background-color: transparent;
}


/* ================ CARTAS MENÚ ================ */
.cards-menu {
    display: flex; /* Para alinear las cartas en fila */
    gap: 5px; /* Espacio entre cartas */
    margin: 5px 0; /* Separación vertical (arriba y abajo) */
}

    .cards-menu .card {
        background-color: #007bff;
        height: 60px;
        flex: 1; /* Todas las cartas ocupan el mismo espacio inicialmente */
        border-radius: 10px;
        transition: all 0.3s ease;
        display: flex;
        align-items: center; /* Centra el contenido verticalmente */
        justify-content: center; /* Centra el contenido horizontalmente */
        border: 2px solid rgba(0, 123, 255, 0.5);
    }

        .cards-menu .card a {
            text-decoration: none;
            color: #fff;
            font-weight: bold;
            font-size: 1.1rem;
        }

        .cards-menu .card:hover {
            flex: 2; /* Se expande al hacer hover */
            background-color: #007bff; /* Azul principal */
            color: #fff; /* Cambiamos el color del texto */
            box-shadow: 0 4px 10px rgba(0, 123, 255, 0.5); /* Sombra más notoria */
            transform: translateY(-3px); /* Efecto “levitar” */
        }

            .cards-menu .card:hover a {
                color: #fff; /* En hover, el link también se vuelve blanco */
            }

            