body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    position: relative; /* Para posicionar el botón de regresar */
}

    header h1 {
        margin: 0;
        color: #333;
        text-align: center; /* Centrar el título */
        width: 100%; /* Garantizar que el título ocupe todo el ancho */
    }

    header .back-button {
        position: absolute; /* Posicionar el botón de regresar de forma absoluta */
        top: 10px; /* Ajustar la posición superior */
        left: 10px; /* Ajustar la posición izquierda */
        width: 40px; /* Tamaño promedio para el botón */
        height: 40px; /* Tamaño promedio para el botón */
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #333; /* Color del ícono */
        background: none; /* Sin fondo */
        border: none; /* Sin borde */
        cursor: pointer;
    }

        header .back-button img {
            width: 100%; /* Ajustar el tamaño del ícono */
            height: auto;
        }

.table-container {
    margin-top: 20px;
}

    .table-container h3 {
        color: #333;
    }

.quimicos-proximos-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

    .quimicos-proximos-table th,
    .quimicos-proximos-table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    .quimicos-proximos-table th {
        background-color: #292828;
        color: white;
    }

    .quimicos-proximos-table tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .quimicos-proximos-table tr:hover {
        background-color: #ddd;
    }

    .quimicos-proximos-table tr.rejected {
        background-color: #ffcccc;
    }

    .quimicos-proximos-table tr.expiring-soon {
        background-color: #fff7cc; /* Amarillo claro para próximo a vencer */
    }

        .quimicos-proximos-table tr.rejected td,
        .quimicos-proximos-table tr.expiring-soon td {
            border: 1px solid #ddd;
        }

.pulse-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: pulse 2s infinite;
}

    .pulse-button:hover {
        background-color: #0056b3;
    }

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .pulse-button {
        right: 10px;
        bottom: 10px;
    }

    .back-button {
        top: 5px; /* Ajustar la posición superior para pantallas pequeñas */
        left: 5px; /* Ajustar la posición izquierda para pantallas pequeñas */
        width: 25px; /* Reducir el tamaño del botón para pantallas pequeñas */
        height: 25px; /* Reducir el tamaño del botón para pantallas pequeñas */
    }

        .back-button img {
            width: 15px; /* Ajustar el tamaño del ícono para pantallas pequeñas */
        }
}
