
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 20px;
    position: relative; 

header {
    text-align: center;
    margin-bottom: 20px;
}

    header h1 {
        font-size: 2rem;
        color: #2c3e50;
        margin: 0;
    }


.back-button {
    position: fixed; 
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #333;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000; 
}

    .back-button img {
        width: 100%;
        height: auto;
    }

.table {
    width: 90%;
    border-collapse: collapse;
    margin: 0 auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

    .table th, .table td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: center;
        font-size: 1rem;
        vertical-align: middle;
        white-space: nowrap;
    }

    .table th {
        background-color: #292828;
        color: white;
        font-weight: bold;
    }

    .table tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .table tr:hover {
        background-color: #e0e0e0;
    }
    .table td:last-child {
        font-weight: bold;
        color: #e74c3c;
    }