body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.header-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

    .header-title h1 {
        margin: 0;
        color: #333;
    }

    .header-title span {
        display: inline-block;
        padding: 5px 10px;
        border: 2px solid #070707;
        border-radius: 5px;
        background-color: #f0f0f0;
        font-size: 1rem;
        color: #070707;
    }

.form-row {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

    .form-row select, .form-row input[type="text"] {
        flex: 1;
    }

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    padding: 8px;
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

    button:hover {
        background-color: #45a049;
    }

.accordion h2 {
    cursor: pointer;
    padding: 15px;
    text-align: left;
    border: none; /* Eliminar borde */
    border-radius: 5px;
    background-color: #292828; /* Color gris específico */
    margin: 10px 0;
    color: white;
}

.panel {
    display: none;
    padding: 15px;
    border: none; /* Eliminar borde */
    background-color: #fafafa;
}

.form-group {
    margin-bottom: 15px;
}

input[type="date"] {
    color: black; /* Color por defecto */
}

    input[type="date"]::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }

    input[type="date"].expired {
        color: red;
    }

    input[type="date"].expiring-soon {
        color: orange;
    }

button#submitAll {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

    button#submitAll:hover {
        background-color: #45a049;
    }

.result {
    font-weight: bold;
    margin-top: 10px;
}

.section-status {
    padding: 0; /* Eliminar padding */
    border: none; /* Eliminar borde */
    margin-bottom: 10px;
    border-radius: 5px;
}

    .section-status.accepted h2 {
        background-color: green;
    }

    .section-status.rejected h2 {
        background-color: red;
    }

    .section-status.expiring-soon h2 {
        background-color: orange;
    }

/* Estilo para pantallas pequeñas */
@media (max-width: 600px) {
    .form-row {
        flex-direction: column;
        align-items: stretch;
    }

    .header-title {
        flex-direction: column;
    }

        .header-title span {
            align-self: flex-end;
        }
}
